@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
    background: rgb(245, 245, 245);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px 24px 160px;
}

header nav .nav-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
}

header nav .nav-btn {
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

header .hero {
    width: 1405px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 20px auto 0 auto;
}

header .hero .hero-content {
    background: rgb(198, 228, 214);
}

header .hero .hero-title {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    background-color: rgb(198, 228, 214);
}

header .hero .hero-texts {
    width: 622px;
    height: 201px;
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    margin-top: 16px;
    background-color: rgb(198, 228, 214);
}

header .hero .hero-btn {
    margin-top: 24px;
    padding: 17px 34px 17px 34px;
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

header .hero .hero-image {
    background-color: rgb(198, 228, 214);
}

header .hero .hero-image img {
    width: 474.03px;
    height: 400px;
    background-color: transparent;
    margin: 0px 64px;
}

main {
    width: 1600px;
    height: 4380px;
    margin: 0 auto;
}

main .pillars .pillars-content .pillars-title {
    margin: 80px 0 32px 0;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

main .pillars .pillars-content .pillars-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

main .pillars .pillars-content .pillars-cards .pillars-card {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
}

main .pillars .pillars-content .pillars-cards .pillars-card img {
    background-color: transparent;
    margin-bottom: 24px;
}

main .pillars .pillars-content .pillars-cards .pillars-card h3 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    background-color: transparent;
    margin-bottom: 12px;
}

main .pillars .pillars-content .pillars-cards .pillars-card p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    background-color: transparent;
}

main .vision .vision-content .vision-title {
    margin-top: 80px;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

main .vision .vision-content .vision-description {
    margin: 24px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

main .vision .vision-content .vision-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

main .vision .vision-content .vision-cards .vision-card {
    width: 410.67px;
    height: 325px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    /* background: rgba(84, 144, 245, 0.2); */
}

main .vision .vision-content .vision-cards .vision-card img {
    background-color: transparent;
}

main .vision .vision-content .vision-cards .vision-card h3 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 24px 0 12px 0;
    background-color: transparent;
}

main .vision .vision-content .vision-cards .vision-card p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
    margin-bottom: 24px;
}

main .vision .vision-content .vision-cards .vision-card button {
    border: none;
    border-radius: 8px;
    /* background: rgb(84, 144, 245); */
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

main .quote .quote-content {
    margin-top: 32px;
    padding: 48px 24px 48px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

main .quote .quote-content img {
    background-color: transparent;
    position: absolute;
    margin-top: -24px;
}

main .quote .quote-content p {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
}

main .quote .quote-content h4 {
    margin-top: 15px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    background-color: transparent;
}

main .quote .quote-content h6 {
    margin-top: 4px;
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
}

main .opinion h3 {
    margin: 80px 0 24px 0;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

main .opinion .opinion-container {
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 32px;
}

main .opinion .opinion-container table {
    width: 100%;
    border-collapse: collapse;
    /* border-spacing: 0px 45px; */
}

main .opinion .opinion-container table tr th {
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    color: rgb(14, 14, 14);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

main .opinion .opinion-container table tr td {
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255);
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

main .opinion .opinion-container table tr td select {
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    color: rgb(14, 14, 14);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

main .news .news-container>h3 {
    margin-top: 80px;
    margin-bottom: 24px;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

main .news .news-container>p {
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

main .news .news-container .cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main .news .news-container .cards .card {
    padding: 48px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

main .news .news-container .cards .card .card-img {
    background-color: transparent;
}

main .news .news-container .cards .card .card-img img {
    border-radius: 24px;
}

main .news .news-container .cards .card .card-content {
    background-color: transparent;
}

main .news .news-container .cards .card .card-content h3 {
    margin: 12px 0;
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    background-color: transparent;
}

main .news .news-container .cards .card .card-content img {
    background-color: transparent;
}

main .news .news-container .cards .card .card-content .date-time {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    background-color: transparent;
}

main .news .news-container .cards .card .card-content p {
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
}

main .news .news-container .cards .card .card-content button {
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 32px;
}

main .donate .donate-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .donate .donate-content h3 {
    margin: 80px 0 24px 0;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

main .donate .donate-content p {
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

main .donate .donate-content .donate-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

main .donate .donate-content .donate-cards .card {
    width: 280px;
    height: 145px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

main .donate .donate-content input {
    margin-top: 32px;
    display: block;
    width: 77.5%;
    padding: 20px 40px 20px 40px;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

main .donate .donate-content button {
    width: 175px;
    height: 65px;
    margin-top: 32px;
    padding: 17px 34px 17px 34px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

main .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 395px;
    margin: 80px auto 0 auto;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

main .newsletter .newsletter-content {
    width: 62%;
}

main .newsletter .newsletter-content h3 {
    margin-bottom: 16px;
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    background-color: transparent;
}

main .newsletter .newsletter-content .description {
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    background-color: transparent;
}

main .newsletter .newsletter-content .form {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .newsletter .newsletter-content .form input {
    width: 88%;
    padding: 18px 40px 18px 40px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

main .newsletter .newsletter-content .form button {
    /* position: absolute; */
    padding: 16.8px 34px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

main .newsletter .newsletter-content .no-spam {
    margin-top: 25px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    background-color: transparent;
}

footer {
    width: 100%;
    height: 226px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}

footer h3 {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    background-color: transparent;
    margin: 50px 0 32px 0;
}

footer hr {
    width: 55%;
    height: 0;
    border: 1px solid rgba(14, 14, 14, 0.1);
    margin-bottom: 32px;
}

footer .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    margin-bottom: 34px;
}

footer .logos a {
    background-color: transparent;
}

footer .logos a img {
    background-color: transparent;
}